In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns=['Name','Age','Height'])

In [4]:
df

Empty DataFrame
Columns: [Name, Age, Height]
Index: []

In [6]:
df.loc[0] = ['Maggie','27','158']

In [7]:
df.loc[1] = ['May','25','175']

In [8]:
df.loc[2] = ['Joe','35','183']

In [9]:
df

     Name Age Height
0  Maggie  27    158
1     May  25    175
2     Joe  35    183

In [10]:
df['Weight'] = [ '75','80','70']

In [11]:
df

     Name Age Height Weight
0  Maggie  27    158     75
1     May  25    175     80
2     Joe  35    183     70